<!-- Add Post Modal -->
<div
  class="modal fade"
  id="addPostModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your form elements here -->
        <form>
          <div class="form-group">
            <label for="type">Type:</label>
            <select id="type" name="type">
              <option value="general">General</option>
              <option value="lost">Lost</option>
              <option value="found">Found</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea
              class="form-control"
              id="content"
              name="content"
              rows="3"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="image">Upload Image</label>
            <input type="file" class="form-control-file" id="image" />
          </div>

          <div id="additionalFields" style="display: none;">
            <div class="form-group">
              <label for="details_date">Date</label>
              <input
                type="date"
                class="form-control"
                id="details_date"
                name="details_date"
              />
            </div>
            <div class="form-group">
              <label for="details_location">Location</label>
              <input
                type="text"
                class="form-control"
                id="details_location"
                name="details_location"
              />
            </div>
            <div class="form-group">
              <label for="details_contact">Contact</label>
              <input
                type="text"
                class="form-control"
                id="details_contact"
                name="details_contact"
              />
            </div>
            <div class="form-group">
              <label for="petdetails_species">Species</label>
              <input
                type="text"
                class="form-control"
                id="petdetails_species"
                name="petdetails_species"
              />
            </div>
            <div class="form-group">
              <label for="petdetails_breed">Breed</label>
              <input
                type="text"
                class="form-control"
                id="petdetails_breed"
                name="petdetails_breed"
              />
            </div>
            <div class="form-group">
              <label for="petdetails_color">Color</label>
              <input
                type="text"
                class="form-control"
                id="petdetails_color"
                name="petdetails_color"
              />
            </div>
            <div class="form-group">
              <label for="petdetails_other">Other Details</label>
              <input
                type="text"
                class="form-control"
                id="petdetails_other"
                name="petdetails_other"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button type="button" class="btn btn-primary" id="savePostBtn">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function () { $('select[name=type]').change(function () { if
  (this.value === 'lost' || this.value === 'found') {
  $('#additionalFields').show(); } else { $('#additionalFields').hide(); } });
  });
</script>