<link
  rel='stylesheet'
  href='https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.css'
/>
<script
  src='https://cdn.jsdelivr.net/npm/timepicker@1.14.1/jquery.timepicker.js'
></script>

<div
  class='modal fade'
  id='appointmentModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>
          Make an appointment
        </h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>

      <div class='modal-body'>

        <div class='mb-3'>
          <div>Select the services:</div>
          <input
            class='form-check-input'
            type='checkbox'
            value='Veterinary Doctor'
            id='servicetype'
          />
          <label class='form-check-label' for='servicetype'>
            Veterinary Doctor
          </label>
          <input
            class='form-check-input'
            type='checkbox'
            value='Grooming'
            id='servicetype2'
          />
          <label class='form-check-label' for='servicetype2'>
            Grooming
          </label>
        </div>
        <div class='mb-3'>
          <label for='floatingTextarea2'>Description:</label>
          <textarea
            class='form-control'
            placeholder='Leave a comment here'
            id='desc'
            style='height: 100px'
          ></textarea>

        </div>
        <div class='mb-3'>
          <label for='date'>Select date and time:</label>
          <input
            type='text'
            class='form-control'
            id='date'
            placeholder='Select Date'
            name='date'
          />
        </div>

        <div class='mb-3'>
          <label for='timepicker'>Pick your time (30 min): </label>
          <input type='text' id='timepicker' />
        </div>

        <div class='mb-3'>
          <select class='form-select' aria-label='Select your pet'>
            <option selected>Select your pet</option>
            {{#each petNames}}
              <option>{{this}}</option>
            {{/each}}

          </select>
        </div>

      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
          id='appmodalclose'
        >
          Close
        </button>
        <button type='submit' class='btn btn-primary' id='appsub'>
          Make appointment
        </button>

      </div>
    </div>
  </div>
</div>

<div
  class='toast-container position-fixed top-0 start-50 translate-middle-x p-3'
>
  <div
    id='liveToast'
    class='toast text-bg-Warning border-0'
    role='alert'
    aria-live='assertive'
    aria-atomic='true'
    data-bs-config='{"delay":1000}'
  >

    <div class='toast-body' id='toastText'>
      This time slot is currently unavailable. Please select another time.
    </div>
  </div>
</div>

<div
  id='dataContainer'
  data-insid='{{institution._id}}'
  data-content='{{content}}'
></div>

<script type='module' src='/public/js/app-modal.js'></script>