<link rel="stylesheet" href="/public/css/loginstyles.css" />
<div class="container">
  <h3>Institution Forgot Password</h3>
  <form
    action="/forgotPassword/institution"
    method="POST"
    id="forgot-password-form"
  >
    <label for="email">Enter your registered institution email address:</label>
    <input type="email" id="email" name="email" />
    <input type="submit" value="Submit" />
  </form>
  <div id="error-forgot-password"></div>
</div>
<script src="/public/js/client_validation.js"></script>