<h1>Welcome to PawPal!</h1>

<h2>What is PawPal?</h2>

<p>PawPal is a revolutionary pet care app focused on making pet ownership
  simpler and more enjoyable.</p>

<h2>Login As:</h2>

<button onclick="location.href='/userLogin'">Login as User</button>
<button onclick="location.href='/institutionLogin'">
  Login as Institution
</button>