.error-list {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

#searchInput {
  width: 100%;
  padding: 8px 12px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for the search input when focused */
#searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Apply general styling to form elements */
.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  margin-left: 4px;
  margin-top: 4px;
}

/* Style the submit button */
#submitButton {
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 4px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Hide additional fields by default */
#additionalFields {
  display: none;
}

#add-post {
  margin-top: 10px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  color: #333;
  margin-bottom: 10px;
}

.list-group-item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.card-header + .card-body {
  padding-top: 0;
}

.card-header + .card-body > form {
  margin-top: 10px;
}

.btn-group {
  margin-left: 10px;
}

/* Additional fields */
#additionalFields p {
  margin-bottom: 5px;
}

/* Comments section */
.card-header + .card.mt-3 {
  border: none;
  border-top: 1px solid #ccc;
}

.card-header + .card.mt-3 .list-group-item:last-child {
  border-bottom: none;
}
