<body>
  <input type="text" id="searchInput" placeholder="Search..." />
  <div id="searchResults"></div>

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <script src="/public/js/posts_clientvalidations.js"></script>
</body>